<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>newsLetter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>articles</display-name>
    <servlet-name>articles</servlet-name>
    <servlet-class>com.db.articles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>articles</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet1</servlet-name>
    <servlet-class>com.db.insertNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet1</servlet-name>
    <url-pattern>/insertNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet2</servlet-name>
    <servlet-class>com.db.viewNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet2</servlet-name>
    <url-pattern>/viewNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet3</servlet-name>
    <servlet-class>com.db.EditNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet3</servlet-name>
    <url-pattern>/EditNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet4</servlet-name>
    <servlet-class>com.db.DeleteNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet4</servlet-name>
    <url-pattern>/DeleteNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet5</servlet-name>
    <servlet-class>com.db.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet5</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlet6</servlet-name>
    <servlet-class>com.db.ApprovedNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet6</servlet-name>
    <url-pattern>/approvednews</url-pattern>
  </servlet-mapping>
</web-app>